.site-header {
  position: absolute;
  background-color: transparent;
  color: var(--light-col);
  box-shadow: none;
}
.site-nav a {
  color: var(--light-col) !important;
}
.site-nav a:hover,
.site-nav a.active {
  color: var(--primary-col) !important;
}
.search-container {
  height: 100vh;
  background-image: url("../../images/search_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: var(--light-col);
}
.search-title {
  margin-top: 14%;
  width: 100%;
  color: var(--primary-col);
}
.search-title h1 {
  font-weight: normal;
  font-size: 4rem;
}
.search-title h2 {
  font-weight: normal;
}
.search-options {
  position: relative;
  background-color: hsla(0, 100%, 100%, 20%);
  backdrop-filter: blur(8px);
  width: 100%;
  margin-top: auto;
  padding-block: var(--padding);
}
.flight-type {
  position: absolute;
  right: 40px;
  top: calc(110px / 2 * -1);
  display: flex;
  gap: 40px;
}
.flight-type button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-col);
  color: var(--light-col);
  border: none;
  font-family: inherit;
  gap: 10px;
  font-size: 1.05rem;
  border-radius: 5px;
  font-weight: bold;
  width: 108px;
  height: 110px;
}
.flight-type button.active,
.flight-type button:hover {
  background-color: var(--secondary-col);
}
/* https://codepen.io/sosuke/pen/Pjoqqp */
.flight-type button img {
  filter: invert();
  object-fit: contain;
}
.destination-inputs {
  display: flex;
  gap: 30px;
}
.destination-inputs input {
  min-width: 320px;
}
.search-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: start;
}
.flight-options {
  display: flex;
  gap: 40px;
}
/* Responsiveness */
@media (max-width: 1024px) {
  .search-container {
    height: auto;
  }
  .search-title {
    margin-bottom: 40px;
    margin-top: 30%;
  }
  .search-title h1 {
    font-size: 3rem;
  }
  .flight-type button {
    display: none;
  }
  .destination-inputs {
    flex-direction: column;
  }
  .flight-options {
    flex-wrap: wrap;
    align-items: start;
  }
}
