/* Variables */
:root {
  --primary-col: #ff9900;
  --primary-light-col: #ffb84d;
  --primary-lighter-col: #ffd699;
  --primary-lightest-col: #fff9f0;

  --secondary-col: #4338ca;
  --secondary-light-col: #7b74da;
  --secondary-lighter-col: #b4afea;
  --secondary-lightest-col: #ecebfa;

  --muted-col: #475569;
  --muted-light-col: #94a3b8;
  --muted-lighter-col: #e2e8f0;
  --muted-lightest-col: #f8fafc;

  --dark-col: #333333;
  --light-col: #ffffff;
  --success-col: #16a34a;
  --error-col: #ef4444;
  --error-light-col: #f87171;
  --error-lightest-col: #fef2f2;
  --warning-col: #d97706;

  --font-size-xl: 1.85rem;
  --font-size-lg: 1.65rem;
  --font-size-md: 1.45rem;
  --font-size-base: 1rem;
  --font-size-sm: 0.85rem;
  --font-size-xs: 0.75rem;

  --shadow-md: 0 0 14px rgba(0, 0, 0, 0.25);

  --padding: 30px;
  --padding-md: 20px;

  --radius: 10px;
  --radius-sm: 5px;

  --gap-lg: 40px;
  --gap-md: 20px;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styling */
html,
body {
  height: 100%;
  font-family: "Work Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: var(--font-size-base);
}
h1,
h2,
h3 {
  font-weight: bold;
}
h1 {
  font-size: var(--font-size-xl);
}
h2 {
  line-height: 2;
  font-size: var(--font-size-lg);
}
h3 {
  font-size: var(--font-size-md);
}
a {
  color: var(--primary-col);
  text-decoration: none;
}
a:hover {
  color: var(--secondary-col);
  text-decoration: underline;
}
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: var(--padding);
}
hr {
  border-top: 1px solid var(--muted-lighter-col-col);
  margin-top: 40px;
  margin-bottom: 40px;
}
/* Site Header */
.site-header {
  width: 100%;
  background-color: var(--muted-lightest-col);
  padding-block: var(--padding);
  margin-bottom: 20px;
  box-shadow: var(--shadow-md);
}
.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-nav {
  display: flex;
  gap: 20px;
  align-items: center;
}
.site-nav a:not(.button) {
  color: var(--dark-col);
  font-size: 1.2rem;
}
.site-nav a.active {
  color: var(--primary-col);
  font-weight: bold;
}
/* Responsiveness */
@media (max-width: 1024px) {
  .site-nav a:not(.button) {
    font-size: 1rem;
  }
}
