.hidden {
  display: none !important;
}
.font-bold {
  font-weight: bold !important;
}
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.align-start {
  align-items: start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: end;
}
.gap-lg {
  gap: var(--gap-lg);
}
.gap-md {
  gap: var(--gap-md);
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.margin-y {
  margin-top: 20px;
  margin-bottom: 20px;
}
.padding-y {
  padding-top: 20px;
  padding-bottom: 20px;
}
